repos:
  - repo: local
    hooks:
    - id: exif-correct
      name: Exif Correct
      description: Removes all Exif data from images and sets the correct Copyright
      entry: .hooks/correct_exif.sh
      language: script
      types: [image]
      exclude_types: [svg,gif]
    - id: generate-maps
      name: Generate Maps
      description: Generate all the maps used in posts
      entry: python3 .hooks/generate_maps.py
      language: python
      additional_dependencies: ["py-staticmaps", "python-frontmatter"]
      types: [markdown]
    - id: trufflehog
      name: TruffleHog
      description: Detect secrets in your data.
      entry: bash -c 'docker run --rm -v "$(pwd):/workdir" -i --rm trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --only-verified --fail'
      language: system
      stages: ["commit", "push"]
    - id: tailwind
      name: Tailwind
      description: Compile Tailwind CSS
      entry: npx @tailwindcss/cli -i tailwind.css -o ./assets/css/custom.css -m
      language: node
      additional_dependencies: ["tailwindcss", "@tailwindcss/cli"]
      pass_filenames: false
      always_run: true

  # Strip all exif information from .gif files
  - repo: https://github.com/stefmolin/exif-stripper
    rev: 0.6.2
    hooks:
    - id: strip-exif
      types: [gif]

  # Generic pre-commit hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
      exclude: "assets/css/custom.css"
    - id: mixed-line-ending
    - id: trailing-whitespace
      args: ["--markdown-linebreak-ext=markdown,md"]
    - id: check-json
    - id: check-yaml

  # Format Python files
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
    - id: black

  # Check for best practice in Python files
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
    - id: flake8
      args: ["--config=.hooks/.flake8"]

  # Check Markdown documents with Markdownlint(Node.js variant)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args: ["--config=.hooks/.markdownlint.yaml", "--ignore=LICENSE.md"]

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.13.7
    hooks:
      - id: markdown-link-check
        args: ["--verbose", "--config=.hooks/.markdown-link-check.json"]
