{% capture svg_path %}/assets/images/maps/{{ include.name }}.svg{% endcapture %}
{% assign point_names = "Unknown" | split: "," %}
{% assign lat_lons = '' | split: '' %}
{% assign use_waypoints = include.waypoints | default: "true" %}
{% assign waypoints = '' %}

{% for map in page.maps %}
	{% if map.name == include.name %}
		{% assign point_names = map.points | map: "name" | compact %}
		{% for coords in map.points %}
			{% assign extra_lat_lon = coords.lat | append: "," | append: coords.lon | split: '_' %}
			{% assign lat_lons = lat_lons | concat: extra_lat_lon %}
		{% endfor %}
	{% endif %}
{% endfor %}

{% assign map_alt = point_names | first %}

{% if point_names.size > 1 %}
	{% assign map_alt = point_names | last | prepend: " to " | prepend: map_alt %}
{% endif %}

{% if point_names.size > 2 %}
	{% assign names_idx = point_names | size | minus: 2 %}
	{% assign map_alt = point_names | slice: 1,names_idx | join: ", and " | prepend: ", via " | prepend: map_alt %}
{% endif %}

{% capture google_url %}https://maps.google.com/?q={{ lat_lons | first }}{% endcapture %}

{% if lat_lons.size > 1 %}
	{% capture google_url %}https://www.google.com/maps/dir/?api=1&origin={{ lat_lons | first }}&destination={{ lat_lons | last }}{% endcapture %}
{% endif %}

{% if use_waypoints == "true" and lat_lons.size > 2 %}
	{% assign waypoint_idx = lat_lons | size | minus: 2 %}
	{% assign waypoints = lat_lons | slice: 1,waypoint_idx | join: "|" %}
	{% assign google_url = google_url | append: "&waypoints=" | append: waypoints %}
{% endif %}

{% capture map_caption %}{{ map_alt }} ([Open in Google Maps]({{ google_url }})){% endcapture %}

{% include figure popup=true image_path=svg_path alt=map_alt caption=map_caption class="caption-center" %}
